body {
    display: flex;
    flex-direction: column;
}

.navigation {
    flex: 0 80px;
}
main {
    flex: 1 calc(100vh - 120px);
    text-align: center;
    background-color: lightblue;
    /* background-size: 800px 800px; */
    /* height: 75vh; */
    padding: 35vh 35vh;
}

#name {
    margin-bottom: 10px;
}

footer {
    flex: 0 40px;
    background-color: lightgray;
}