body {
    display: flex;
    flex-direction: column;
}

.navigation {
    flex: 0 80px;
}

main {
    flex: 1 calc(100vh - 120px);
    background-color: lightblue;
    text-align: center;
    padding: 35vh 35vh;
    
}

footer {
    flex: 0 40px;
    background-color: lightgray;
}