body {
    display: flex;
    flex-direction: column;
}

.navigation {
    flex: 0 80px;
}

main {
    flex: 1 calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    /* background-color: lightblue;
    text-align: center;
    padding: 35vh 35vh; */
    
}

#sky {
    flex: 1;
    background-color: lightblue;
}

#ground {
    flex: 1;
    background-color: green;
    background-size: cover;
    align-content: center;
    text-align: center;
}

#scores {
    text-align: justify;
    position: relative;
    align-content: right;
}

#confirmation {
    /* align-content: center; */
    margin-bottom: 40px;
    position: relative;
}

footer {
    flex: 0 40px;
    background-color: lightgray;
}